.work__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project__container{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 3.5rem 3rem;
}

.project__container h3{

}

.project__title{
    font-size: 1.75rem;
}

.project__subs{
    font-size: var(--h3-font-size);
    color: var(--light-grey);
    margin-bottom: 0.5rem;
}

.project__tag__container{
    display: flex;
    gap: 1rem;
}

.project__tag{
    background-color: var(--accent-color);
    color: white;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

.project__button__container{
    display: flex;
    gap: 1rem;
}

.project__button__container button{

}
