.skills__intro{
    margin-bottom: 3.75rem;
}

.skills__intro span{
    font-weight: bold;
    /*color: var(--main-color)*/
}

.skills__container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
    width: 100px;
    height: 100px;
    transition: linear 0.05s;
}

.skill__box:hover{
    transform: scale(130%);
}

.skill__logo{
    height: 50px;
    width: 50px;
    opacity: 0.7;
    transition: linear 0.05s;
}

.skill__logo:hover {
    opacity: 1;
}


.skill__placeholder{
    height: 50px;
    width: 50px;
    background-color: dodgerblue;
}

.skill__name{
    color: var(--light-grey);
}
