.landing {
    position: relative;
    height: 100svh;
    min-height: 620px;
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing__name {
    color: var(--main-color);
}

.landing__img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile__pic{
    border-radius: 50%;
    object-fit: cover;
}

.landing__header {
    font-size: var(--xl-font-size);
    font-weight: var(--font-semibold);
    margin-top: 1.5rem;
    line-height: 1;
}

.text-animation {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: var(--large-font-size);
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.text-animation span {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    /*animation: typing 20s steps(40) infinite;*/
}

.text-animation span::before {
    content: " Frontend Developer";
    color: var(--accent-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    position: absolute;
    background-color: var(--body-color);
    border-left: 3px solid var(--body-color);
    width: calc(100% + 18px);
    height: 100%;
    right: 0px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
    /*animation: cursor 0.6s steps(40) infinite;*/
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--accent-color);
    }
}

@keyframes words {
    0%, 20% {
        content: "Frontend Developer";
    }
    21%, 40% {
        content: "Mobile Developer";
    }
    41%, 60% {
        content: "Multidisciplinary Artist";
    }
    61%, 80% {
        content: "Software Engineer";
    }
    81%, 100% {
        content: "VR/AR Developer";
    }
}

@keyframes typing {
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: 100%;
    }
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
}

.resume__button {
    background-color: var(--main-color);
    color: white;
    width: 180px;
    margin-top: 2rem;
}

.social-icons {
    width: 30px;
    height: 30px;
    opacity: 60%;
    transition: opacity 0.3s ease;
}

.social-icons:hover {
    opacity: 100%;
}

.landing__socials__container {
    margin-top: 1rem;
    display: flex;
    /*flex-basis: 60px;*/
    align-items: center;
    width: 100%;
    justify-content: center;
    /*border: 1px solid red;*/
    gap: 10px;
}



/*=====Scroll Down=======*/
.scroll__down{
    position: absolute;
    bottom: 1.25rem;
    left: 0;
    width: 100%;
    height: auto;
}

.mouse__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.landing__scroll-name{
    font-size: var(--small-font-size);
    margin: auto;
}

.mouse{
    border: 2px solid var(--light-grey);
    display: block;
    height: 1.6rem;
    width: 1.25rem;
    margin: .75rem auto auto;
    border-radius: 1rem;
    position: relative;
}

@keyframes ani-mouse{
    0%{
        top: 29%;
    }

    15%{
        top: 50%;
    }

    50%{
        top: 50%;
    }

    100%{
        top: 29%;
    }

}
.wheel{
    background-color: var(--light-grey);
    border-radius: 100%;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 2s linear infinite;
}

@media screen and (max-width: 768px){
    .landing{
        height: auto;
    }
    .intro{
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        padding-top: 3rem;
        gap: 2rem;
    }
    .left{
        width: 100%;
        /*align-items: center;*/
    }
    .left p{
        /*max-height: 100px;*/
        overflow-y: auto;
    }
    .landing__img{
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .scroll__down{
        display: none;
    }

    .landing__socials__container {
        gap: 2rem;
        width: 100%;
        margin-top: 2rem;
    }

    .social-icons{
        width: 40px;
        height: 40px;
    }

    /*.text-animation{*/
    /*    justify-content: center;*/
    /*    width: 100%;*/
    /*}*/
}
